.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.create-user-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}